<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application
      android:theme="@style/AppTheme"
      android:label="100 Dentistas Dijeron"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:usesCleartextTraffic="false">
    <activity
        android:name=".MainActivity"
        android:screenOrientation="sensorLandscape"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
